<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="App.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="GUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="App.Properties.Settings.ConnectionString" connectionString="Data Source=.;Initial Catalog=MiniSpecialist;Integrated Security=True;Connect Timeout=10;" />
    </connectionStrings>
    <userSettings>
        <App.Properties.Settings>
            <setting name="DisableDB" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DataAtOnce" serializeAs="String">
                <value>True</value>
            </setting>
        </App.Properties.Settings>
        <GUI.Properties.Settings>
            <setting name="DisableDB" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DataAtOnce" serializeAs="String">
                <value>True</value>
            </setting>
        </GUI.Properties.Settings>
        <UI.Properties.Settings>
            <setting name="ConnectionString" serializeAs="String">
                <value>Data Source=.;Initial Catalog=MiniSpecialist;Integrated Security=True;Connect Timeout=10;</value>
            </setting>
            <setting name="DisableDB" serializeAs="String">
                <value>False</value>
            </setting>
        </UI.Properties.Settings>
    </userSettings>
</configuration>